/* :root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Text colors */
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196F3;
    --logo-main-txt-cl: #000000;
    --grey-txt-cl: #757575;
    --grey-txt-cl-60: rgba(255, 255, 255, 0.6);
    --light-txt-cl: #FFFFFF;
    --placeholder-txt-cl: rgba(117, 117, 117, 0.5);
    /* Background colors */
    --main-bcg-cl: #FFFFFF;
    --btn-bcg-cl: #2196F3;
    --btn-bcg-cl-2: #188CE8;
    --head-bcg-cl: #C4C4C4;
    --overlay-modal: rgba(0, 0, 0, 0.2);
    --overlay-cl: rgba(47, 48, 58, 0.4);
    --overlay-cl-80: rgba(47, 48, 58, 0.8);
    --footer-icon-bcg-cl: rgba(255, 255, 255, 0.1);
    --black-bcg-cl: #2F303A;
    --light-bcg-cl: #F5F4FA;
    --border-first-cl: #ECECEC;
    --border-secondary-cl: #EEEEEE;
    --border-third-cl: rgba(255, 255, 255, 0.3);
    --icon-cl: #AFB1B8;
    --box-shadow-blc-cl-20: rgba(0, 0, 0, 0.20);
    --box-shadow-blc-cl-16: rgba(0, 0, 0, 0.16);
    --box-shadow-blc-cl-15: rgba(0, 0, 0, 0.15);
    --box-shadow-blc-cl-14: rgba(0, 0, 0, 0.14);
    --box-shadow-blc-cl-12: rgba(0, 0, 0, 0.12);
    --box-shadow-blc-cl-10: rgba(0, 0, 0, 0.10);
    --box-shadow-blc-cl-08: rgba(0, 0, 0, 0.08);
    --box-shadow-blc-cl-06: rgba(0, 0, 0, 0.06);
    --box-shadow-blc-cl-02: rgba(0, 0, 0, 0.02);
    --prtl-thumb-overlay: rgba(33, 150, 243, 0.9);
    --form-border-clr: rgba(33, 33, 33, 0.2);
    /* Others */
    --btn-radius: 4px;
    --items: 3;
    --indent: 30px;
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* } */ */

/* body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--main-bcg-cl);
} */
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: inherit;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* Header */
/* 
.header {
    border-bottom: 1px solid var(--border-first-cl);
}

.header__container {
    display: flex;
    align-items: center;
} */

/* Logo */

/* .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-txt-cl);
    text-decoration: inherit;
} */

/* .header__logo {
    margin-right: 93px;
}

.header__logo--dark {
    color: var(--logo-main-txt-cl);
} */

/* Pages list */
/* 
.nav {
    margin-right: auto;
} */

/* .site-nav {
    display: flex;
    gap: 50px;
    font-weight: 500;
    line-height: calc(16 / 14);
}

.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    align-items: center;
    position: relative;
    transition: color var(--anim-fast);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-txt-cl);
}

.site-nav__link--active {
    color: var(--accent-txt-cl);
}

.site-nav__link--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-txt-cl);
    border-radius: 2px;
} */

/* Contacts */

/* .header__contacts {
    display: flex;
    gap: 50px;
} */

/* .contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: calc(16 / 14);
    color: var(--grey-txt-cl);
    transition: color var(--anim-fast);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-txt-cl);
}

.contacts__icon {
    fill: currentColor;
} */

/* Main */

/* .section {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* Head */
/* 
.head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-color: var(--head-bcg-cl);
    background-image: linear-gradient(to right,
    var(--overlay-cl),
    var(--overlay-cl)),
    url(../images/head_bckg/bckg_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* .head__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
} */

/* .btn {
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--btn-bcg-cl);
    box-shadow: 0px 4px 4px var(--box-shadow-blc-cl-15);
    border: transparent;
    border-radius: var(--btn-radius);
    cursor: pointer;
    transition: background-color var(--anim-fast);
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-bcg-cl-2);
} */

/* .head__btn {
    padding: 10px 32px;
} */

/* Modal window */

/* .backdrop {
    position: fixed;
    z-index: 3;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:var(--overlay-modal);
    opacity: 1;
    transition: opacity var(--anim-fast);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    visibility: visible;
    transform: translate(-50%, -50%) translateY(-100%);
} */

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--main-bcg-cl);
    box-shadow: 0px 1px 3px var(--box-shadow-blc-cl-12), 0px 1px 1px var(--box-shadow-blc-cl-14), 0px 2px 1px var(--box-shadow-blc-cl-02);
    border-radius: var(--btn-radius);
    transform: translate(-50%, -50%) translateY(0%);
    transition: transform var(--anim-fast);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--box-shadow-blc-cl-10);
    border-radius: 50%;
    background-color: var(--main-bcg-cl);
    cursor: pointer;
    transition: border-color var(--anim-fast);
}

.modal-btn__icon {
    transition: fill var(--anim-fast);
}

.modal-btn .modal-btn__icon:hover,
.modal-btn .modal-btn__icon:focus {
    fill: var(--btn-bcg-cl);
} */

/* Register form */

/* .registration__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
}

.registration-group {
    margin-bottom: 20px;
}

.registration__field {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.registration__field:last-child {
    margin-bottom: 0px;
}

.registration__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--grey-txt-cl);
}

.registration__input {
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid var(--form-border-clr);
    border-radius: var(--btn-radius);
    transition: border-color var(--anim-fast);
}

.registration__input:hover,
.registration__input:focus {
    border-color: var(--btn-bcg-cl);
}

.registration__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    transform: fill var(--anim-fast);
}

.registration__input:hover + .registration__icon,
.registration__input:focus + .registration__icon {
    fill: var(--btn-bcg-cl);
}

.registration__comments {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    font-size: 12px;
    border: 1px solid var(--form-border-clr);
    border-radius: var(--btn-radius);
    transition: border-color var(--anim-fast);
}

.registration__comments:hover,
.registration__comments:focus {
    border-color: var(--btn-bcg-cl);
}

.registration__comments::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--placeholder-txt-cl);
} */

/* .agreement {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.agreement__icons--cheked {
    opacity: 0;
    border-radius: 2px;
    transition: opacity var(--anim-fast);
}

.agreement__checkbox:checked + .agreement__icon .agreement__icons--cheked {
    opacity: 1;
}

.agreement__icons--uncheked {
    opacity: 1;
    transition: opacity var(--anim-fast);
}

.agreement__checkbox:checked + .agreement__icon .agreement__icons--uncheked {
    opacity: 0;
}

.agreement__checkbox:focus + .agreement__icon {
    outline: 1px solid var(--btn-bcg-cl);
    border-radius: 2px;
}

.agreement__desc {
    user-select: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
}

.agreement__link {
    color: var(--accent-txt-cl);
}

.agreement__btn {
    padding: 10px 52px;
} */

/* Our features */

/* .features {
    display: flex;
    gap: 30px;
} */

/* .section__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
} */
/* 
.features__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--light-bcg-cl);
    margin-bottom: 30px;
}

.features__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.features__desc {
    width: 270px;
    color: var(--grey-txt-cl);
} */

/* What we are doing */

/* .section--no-padding-top {
    padding-top: 0;
} */
/* 
.what-doing {
    display: flex;
    gap: 30px;
}

.what-doing__item {
    position: relative;
}

.what-doing__img-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background: var(--overlay-cl-80);
}

.what-doing__img-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
} */

/* Our team */

/* .section--other-bg {
    background-color: var(--light-bcg-cl);
} */

/* .team {
    display: flex;
    gap: 30px;
}

.team__item {
    box-shadow: 0px 1px 3px var(--box-shadow-blc-cl-12), 0px 1px 1px var(--box-shadow-blc-cl-14), 0px 2px 1px var(--box-shadow-blc-cl-20);
    border-bottom-left-radius: var(--btn-radius);
    border-bottom-right-radius: var(--btn-radius);
    background-color: var(--main-bcg-cl);
}

.team__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
}

.team__desc {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
} */

/* .socials {
    display:flex;
    gap: 10px;
    justify-content: center;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--anim-fast);
}

.socials__link--dark-bg {
    background-color: var(--footer-icon-bcg-cl);
}

.socials__link:hover, 
.socials__link:focus {
    background-color: var(--accent-txt-cl);
}

.socials__icon {
    fill: var(--icon-cl);
    transition: fill var(--anim-fast);
}

.socials__icon--light-cl {
    fill: var(--light-txt-cl);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
    fill: var(--light-txt-cl);
} */

/* Regular customers */
/* 
.customers {
    display: flex;
    gap: 30px;
}

.customers__item {
    width: 170px;
    height: 92px;
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-cl);
    border-radius: 4px;
    transition: border-color var(--anim-fast);
}

.customers__icon {
    fill: var(--icon-cl);
    transition: fill var(--anim-fast);
}

.customers__link:hover,
.customers__link:focus {
    border-color: var(--accent-txt-cl);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
    fill: var(--accent-txt-cl);
} */

/* Footer */

/* .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-bcg-cl);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.footer__logo--light {
    color: var(--light-txt-cl);
}

.logo-adress-wrap {
    margin-right: 70px;
} */

/* .footer-contacts__item {
    margin-bottom: 9px;
}

.footer-contacts__item:last-child {
    margin-bottom: 0;
}

 .footer-contacts__link {
    color: var(--grey-txt-cl-60);
    transition: color var(--anim-fast);
 }

 .footer-contacts__link--light-txt {
    color: var(--light-txt-cl);
 }

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-txt-cl);
} */
/* 
.socials-wrap {
    margin-right: 93px;
}

.footer__title {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--light-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscription-group {
    display: flex;
    gap: 12px;
} */

/* .subscription__input {
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: var(--light-txt-cl);
    background-color: var(--black-bcg-cl);
    border: 1px solid var(--border-third-cl);
    box-shadow: 0px 4px 4px var(--box-shadow-blc-cl-15);
    border-radius: var(--btn-radius);
    outline: transparent;
}

.subscription__input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl-60);
}

.subscription-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 28px;
}

.subscription-btn:hover,
.subscription-btn:focus {
    background-color: var(--btn-bcg-cl);
}

.subscription-btn__icon {
    fill: var(--light-txt-cl);
} */

/* Filter */
/* 
.filter {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter--margin-bottom {
    margin-bottom: 50px;
}

.filter__btn {
    padding: 6px 22px;
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--light-bcg-cl);
    box-shadow: none;
    transition: background-color var(--anim-fast), color var(--anim-fast), box-shadow var(--anim-fast);
}

.filter__btn:hover,
.filter__btn:focus {
    color: var(--light-txt-cl);
    background-color: var(--btn-bcg-cl);
    box-shadow: 0px 3px 1px var(--box-shadow-blc-cl-10), 0px 1px 2px var(--box-shadow-blc-cl-08), 0px 2px 2px var(--box-shadow-blc-cl-12);
} */

/* Portfolio */

/* .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.portfolio__link {
    display: block;
    text-decoration: none;
    color: currentColor;
    transition: box-shadow var(--anim-fast);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px var(--box-shadow-blc-cl-12), 0px 4px 4px var(--box-shadow-blc-cl-06), 1px 4px 6px var(--box-shadow-blc-cl-16);
}

.portfolio__link:hover .thumb-overlay,
.portfolio__link:focus .thumb-overlay {
    transform: translateY(0);
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
} */

/* .thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 63px 24px;
    background-color: var(--prtl-thumb-overlay);
    transition: transform var(--anim-fast);
}

.thumb-overlay__desc {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--light-txt-cl);
} */
/* 
.portfolio__img-desc {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-secondary-cl);
    border-left: 1px solid var(--border-secondary-cl);
    border-right: 1px solid var(--border-secondary-cl);
}

.portfolio__img-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio__img-txt {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--grey-txt-cl);
} */