.contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.contacts__link {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14 / 12);
        color: var(--grey-txt-cl);
        transition: color var(--anim-fast);
    }

        @media screen and (min-width: 1200px) {
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}

.contacts__icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        fill: currentColor;
    }
}