.features {
    display: flex;
    gap: 30px;
}

.hidden {
    @extend %visually-hidden;
}

.features__wrap {
    @include flex();
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--light-bcg-cl);
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.features__desc {
    width: 270px;
    color: var(--grey-txt-cl);
}